body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 20px;
    background-image: url(Chill.png);
    
}

.cv {
    max-width: 600px;
    margin: auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    text-align: center;
}

h1 {
    color: #00b7ff;
    text-align: center;
}

p {
    color: #ffffff;
}

hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #ff0000;
}

h2 {
    color: #00a2ff;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.profile-img {
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
